body{
    background-color: cadetblue;
}
.div_main{
    width: 480px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.div_title{
    width: 480px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.input_title{
    width: 450px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    text-align: center;
}

.div_author{
    width: 480px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.input_author{
    width: 450px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    text-align: center;
}

.div_holder{
    width: 480px;
    height: 480px;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
}

.div_paint{
    width: 30px;
    height: 30px;
}

.div_colors{
    width: 480px;
    height: 50px;
    margin-top: 100px;
    display: flex;
}

.div_color{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 5px;
    cursor: pointer;
}

.text_json{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 5px;
    left: 5px;
}